<% provide(:title, 'Creating conditions - open the future!') %>


    <div class="container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">

                <a href="index.html">
                	<%= image_tag("logo-min.png", :alt => "Logo", :style => "width: 5%") %>
                	<%= image_tag("logo_en.png", :alt => "Engineers Portal", :style => "width: 40%") %>
                </a>
            </div>
            <div class="box-line"></div>
        </header>
        <!-- end box header -->

        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                	SOMEDAY
            	</h1>
                <h5>Will simplify the individual and teamwork of engineers</h5>
                <h5 style="font-size: x-small;">
                	How to participate? - write to us.<br>
                	Email for feedback: <a href="mailo:box@portalk.ru">box@pcon.world</a>
                </h5>
            </div>
        </section>
        <!-- end box-intro -->
    </div>

        <!-- MVC, heimer - eto ya sebe. -->