<!DOCTYPE html>
<html lang="en">
<head>
  <title>Engineers Portal | <%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'fav.ico' %>
</head>
<body>
      <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->
<%= yield %>
</body>
<footer>
  <div class="container-fluid">
    <p class="copyright">© <a href="https://gitlab.com/pcon_world/pcon">PCON</a> | Engineers Portal 2018</p>
  </div>
</footer>
</html>